# Variables d'environnement
.env
.env.local
.env.production

# Fichiers uploadés par les utilisateurs
backend/uploads/*
!backend/uploads/.gitkeep

# Dépendances Node.js
node_modules/

# Logs
*.log
npm-debug.log*

# Fichiers système
.DS_Store
Thumbs.db
.history/
cookies.txt